<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1337 password g3nerator</title>
</head>
<body>
<style type="text/css">
body {
    font-family: cursive;
}

</style>

<h1 style="text-align:center;color:#26b72b">Secure Radical Password Generator</h1>
    <form style="text-align:center">
        <label>Number of words in each password
            <input type="text" name="pw_wc" value="{{ pw_wc }}" /><br/>
        </label>
        <label>Number of passwords
            <input type="text" name="n" value="{{ n }}"/><br/>
        </label>

        <p><label>
            <input type="submit" value="GIVE ME A PASSWORD ALREADY">
        </label></p>
    </form>

    <table style="width:100%">
        <tr>
    {% for password in passwords %}
        {% if ((loop.index) %3 == 1) & ((loop.index) != 1) %}
            </tr>
            <tr>
        {% endif %}

            <td>{{ password }}</td>

    {% endfor %}

        </tr>
    </table>
</body>
</html>